.popup-img {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.popup-img__opened_img {
  visibility: visible;
  opacity: 1;
}

.popup-img__content_content_image {
  position: relative;
  display: flex;
  flex-direction: column;
  background: none;
  max-width: 75vw;
  max-height: 75vh;
}

.popup-img__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: url("../images/Close_Icon.png") no-repeat center/contain;
  border: none;
  cursor: pointer;
}

.popup-img__close:hover {
  opacity: 0.6;
}

.popup-img__image {
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.popup-img__caption {
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  max-width: 75vw;
  word-wrap: break-word;
  text-align: left;
}

@media (max-width: 448px) {
  .popup-img__close {
    position: absolute;
    top: -40px;
    right: 0px;
    width: 26px;
    height: 26px;
    background: url("../images/Close_Icon.png") no-repeat center/contain;
    border: none;
    cursor: pointer;
  }
}
